:root {
   --logo-btn-color: #4d5ae5;
   --hover-color: #404bbf;
   --accent-color: #2e2f42;
   --color-green: #31d0aa;
   --main-color: #434455;
   --color-light-slate: #8e8f99;
   --color-footer-text: #e7e9fc;
   --color-accent-footer: #f4f4fd;
   --color-white: #ffffff;
   --color-navy-blue-modal: #2e2f42;
   --color-grey: #2e2f42;
   --gap-8: 8px;
   --gap-24: 24px;
   --gap-40: 40px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

ul {
   padding-left: 0;
   margin: 0;
}

button {
   cursor: pointer;
}

img {
   display: block;
   width: 100%;
   height: auto;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
}

.section {
   padding-top: 96px;
   padding-bottom: 96px;
}

.subtitle {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--accent-color);
   margin-bottom: 72px;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--main-color);
}

/***** HEADER *****/

.header {
   position: relative;
   padding-top: 24px;
   padding-bottom: 22px;
   border-bottom: 1px solid var(--color-footer-text);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__nav {
   display: flex;
   align-items: center;
}

.header__nav > .header__logo {
   margin-right: 76px;
}

.header__logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--logo-btn-color);
}

.header__logo span {
   color: var(--accent-color);
}

.header__menu-list {
   display: none;
}

.header__contacts {
   display: none;
}

/* MOB MENU */

.btn-open-menu {
   background-color: transparent;
   border: none;
}

.icon-open-menu {
   stroke: #2e2f42;
}

.mob-menu {
   position: fixed;
   z-index: 100;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: var(--color-white);
   padding: 80px 24px 40px 40px;
   overflow: auto;
   transition: opacity, visibility;
   transition-duration: 300ms;
   transition-timing-function: linear;
}

.btn-close-menu {
   position: absolute;
   top: 24px;
   right: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   background-color: rgba(231, 233, 252, 0.1);
   border: 1px solid rgba(46, 47, 66, 0.1);
   border-radius: 50%;
}

.icon-close-menu {
   color: var(--accent-color);
}

.mob-nav-item:not(:last-child) {
   margin-bottom: 40px;
}

.mob-nav-link {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--accent-color);
}

.active {
   color: var(--hover-color);
}

.mob-menu-list {
   display: flex;
   flex-direction: column;
   gap: 40px;
   margin-bottom: 48px;
}

.menu-tel {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--logo-btn-color);
}

.menu-email {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--main-color);
}

.mob-soc-list {
   display: flex;
   gap: 56px;
}

.mob-soc-item {
   width: 40px;
   height: 40px;
}

.mob-soc-link {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: var(--logo-btn-color);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/***** HERO *****/
.hero {
   background-color: var(--accent-color);
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 428px;
   margin: 0 auto;
   padding-top: 112px;
   padding-bottom: 112px;
   text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
   }
}

.hero__title {
   max-width: 320px;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-white);
   margin-bottom: 72px;
   margin-right: auto;
   margin-left: auto;
}

.hero__button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   background-color: var(--logo-btn-color);
   color: var(--color-white);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   border-radius: 4px;
   padding: 16px 32px;
   margin: 0 auto;
   transition-property: background-color, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
   background-color: var(--hover-color);
   color: var(--color-white);
}

/***** SECTION FEATURE *****/

.features__list {
   display: flex;
   flex-direction: column;
   gap: 72px;
}

.features__img {
   display: none;
}

.features__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   color: var(--accent-color);
   margin-bottom: 8px;
}

.features__text {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/***** ABOUT US *****/

.about-us {
   display: none;
   padding-top: 0;
}

.about-us__list {
   display: flex;
   gap: var(--gap-24);
}

/***** OUR TEAM *****/

.our-team {
   background-color: var(--color-accent-footer);
}

.our-team__list {
   width: 264px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   gap: 72px;
}

.our-team__item {
   width: 100%;
   background: var(--color-white);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;
}

.our-team__item-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: var(--gap-8);
   padding: 32px 16px;
}

.our-team__item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}

.our-team__item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 8px;
}

.our-team__item-soc-list {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.our-team__item-soc-item {
   width: 40px;
   height: 40px;
}

.our-team__item-soc-link {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: var(--logo-btn-color);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__item-soc-link:hover,
.our-team__item-soc-link:focus {
   background-color: var(--hover-color);
}

/***** CUSTOMERS *****/

.customers__list {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;
   padding: 0px;
   gap: 72px 16px;
}

.customers__item {
   width: calc((100% - 16px) / 2);
   height: 88px;
}

.customers__icon {
   fill: var(--color-light-slate);
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--color-light-slate);
   border-radius: 4px;
   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
   border: 1px solid var(--hover-color);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
   fill: var(--hover-color);
}

/***** FOOTER *****/

.footer {
   background-color: var(--accent-color);
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer__container {
   display: flex;
   flex-direction: column;
   gap: 72px;
}

.footer__content {
   width: 264px;
   margin: auto;
}

.footer__logo {
   display: block;
   text-align: center;
   padding: 0px;
   margin-bottom: 16px;
}

.footer__logo span {
   color: var(--color-accent-footer);
}

.footer__text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-footer-text);
}

.footer__social {
   margin: auto;
}

.footer__title {
   font-weight: 500;
   text-align: center;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-white);
   margin-bottom: 16px;
}

.footer__list {
   display: flex;
   justify-content: center;
   gap: 16px;
}

.footer__item {
   width: 40px;
   height: 40px;
}

.footer__link {
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px;
   border-radius: 50px;
   background-color: var(--logo-btn-color);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
   background-color: var(--color-green);
}

.footer__subscribe {
   width: 100%;
}

.footer__form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 16px;
}

.footer__form-email {
   font-size: 12px;
   line-height: 2;
   display: flex;
   align-items: center;
   letter-spacing: 0.04em;
   color: var(--color-white);
   padding: 8px 16px;
   width: auto;
   height: 40px;
   border: 1px solid var(--color-white);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: transparent;
}

.footer__form-email::placeholder {
   font-size: 12px;
   line-height: 2;
   display: flex;
   align-items: center;
   letter-spacing: 0.04em;
   color: var(--color-white);
}

.footer__form-button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   margin: auto;
   padding: 8px 24px;
   width: 165px;
   height: 40px;
   font-weight: 500;
   line-height: 1.5;
   background-color: var(--logo-btn-color);
   color: var(--color-white);
   border-color: transparent;
   border-radius: 4px;
   transition-property: background-color, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button:hover,
.footer__form-button:focus {
   background-color: var(--hover-color);
   color: var(--color-white);
}

/***** BACKDROP *****/

.backdrop {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity, visibility;
   transition-duration: 300ms;
   transition-timing-function: linear;
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   padding: 32px;
   padding-top: 72px;
   max-width: 392px;
   width: calc(100% - 36px);
   height: auto;
   background-color: #fcfcfc;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transform: translate(-50%, -50%) scaleY(1);
   transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
   position: absolute;
   top: 24px;
   right: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   background-color: var(--color-footer-text);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
}

.modal-close:hover,
.modal-close:focus {
   background-color: var(--hover-color);
   border-radius: 50%;
}

.modal-close:hover .modal-close-icon,
.modal-close:hover .modal-close-icon {
   fill: var(--color-white);
}

.modal-form-text {
   margin-bottom: 16px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   color: var(--accent-color);
}

.modal-form-label {
   display: block;
   margin-bottom: 4px;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: var(--color-light-slate);
}

.input-icon-wrap {
   position: relative;
}

.modal-form-input {
   padding-left: 38px;
   width: 100%;
   height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   font-size: 12px;
   color: var(--accent-color);
   outline: transparent;
   transition-property: border-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wraper {
   margin-bottom: 8px;
}

.modal-form-input:focus {
   border-color: var(--logo-btn-color);
}

.modal-form-input:focus + .modal-input-icon {
   fill: var(--logo-btn-color);
}

.textarea-wraper {
   margin-bottom: 16px;
}

.modal-textarea {
   padding: 8px 16px;
   width: 100%;
   height: 120px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   font-size: 12px;
   color: var(--color-grey);
   resize: none;
   outline: transparent;
}

.modal-textarea:focus {
   border-color: var(--logo-btn-color);
}

.checkbox-wraper {
   margin-bottom: 24px;
}

.modal-check:checked + .check-text::before {
   width: 16px;
   height: 16px;
   background-color: var(--hover-color);
   border: 1px solid var(--hover-color);
   border-radius: 2px;
   background-image: url(../images/modal/checked.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.check-text::before {
   content: '';
   display: block;
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition-property: border-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:focus + .check-text::before {
   border-color: var(--hover-color);
}

.check-text {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
   align-items: flex-end;
   width: 100%;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   color: var(--color-light-slate);
   margin-bottom: 24px;
}

.privacy-link {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   color: var(--logo-btn-color);
}

.send-btn {
   width: 169px;
   height: 56px;
   margin: auto;
   background-color: var(--logo-btn-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border-color: transparent;
   color: var(--color-white);
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px 32px;
   transition-property: background-color, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
   background-color: var(--hover-color);
   color: var(--color-white);
}

/*--------- PORTFOLIO ---------*/

/***** BUTTON LIST *****/

.filter__button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   background-color: var(--color-accent-footer);
   color: var(--logo-btn-color);
   border: 1px solid var(--color-footer-text);
   border-radius: 4px;
   padding: 8px 16px;
   transition-property: background-color, color, box-shadow, border-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
   background-color: var(--hover-color);
   color: var(--color-white);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-color: var(--hover-color);
}

.filter__list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   gap: var(--gap-24);
   margin-bottom: 48px;
}

.projects__item a {
   display: block;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item a:hover,
.projects__item a:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/***** PROJECTS LIST *****/

.projects__list {
   display: flex;
   flex-direction: column;
   gap: 48px;
   padding-top: 48px;
   padding-bottom: 48px;
}

.projects__item {
   width: 100%;
}

.projects__item a:hover .overlay,
.projects__item a:focus .overlay {
   transform: translate(0, 0);
}

.project__item-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 32px 16px;
   gap: var(--gap-8);
   border: 1px solid var(--color-footer-text);
   border-top: none;
}

.projects__item-wrapper {
   position: relative;
   overflow: hidden;
}

.project__item-cover-text {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: translate(0, 100%);
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   padding: 40px 32px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-accent-footer);
   background: var(--logo-btn-color);
}

.projects__item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}

.projects__item-desc {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--main-color);
}
